{% extends 'base.html' %}
{% block title_head %}
<title>Pantalon</title>
{% endblock title_head %}

{% block h1_header %}
Descripcion Pantalon
{% endblock h1_header %}

{% block contenido %}
<li> Color: {{pantalon.color}}</li>
<li> Marca: {{pantalon.marca}}</li>
<li> Talle: {{pantalon.talle}}</li>
<li> Autor: {{user.username}} </li>
<li> Fecha de Publicacion: {{pantalon.fecha_publicacion}}</li>
<li> Desripcion: {{pantalon.descripcion| safe}}</li>
{% if pantalon.imagen %}
    <li> Imagen: <img src= {{ pantalon.imagen.url }} alt="" height="200px"></li>
  {% else %}
    <li> Imagen: No se encontraron imagenes cargadas</li>
  {% endif %}
{% endblock contenido %}