{% extends 'base.html' %}
{% block title_head %}
<title>Calzado</title>
{% endblock title_head %}

{% block h1_header %}
Descripcion Calzado
{% endblock h1_header %}

{% block contenido %}
<li>Color: {{calzado.color}}</li>
<li>Marca: {{calzado.marca}}</li>
<li>Talle: {{calzado.talle}}</li>
{% if calzado.imagen %}
    <li>Imagen: <img src= {{ calzado.imagen.url }} alt="" height="200px"></li>
  {% else %}
    <li>Imagen: No se encontraron imagenes cargadas</li>
  {% endif %}
<li>Autor: {{user.username}} </li>
<li>Desripcion: {{calzado.descripcion | safe}} </li>
<li>Fecha de Publicacion: {{calzado.fecha_publicacion}}</li>
{% endblock contenido %}
