{% extends 'base.html' %}
{% block title_head %}
<title>Calzado</title>
{% endblock title_head %}

{% block h1_header %}
Descripcion Calzado
{% endblock h1_header %}

{% block contenido %}
<li>Color: {{calzado.color}}</li>
<li>Marca: {{calzado.marca}}</li>
<li>Talle: {{calzado.talle}}</li>
<li>Autor: {{user.username}} </li>
{% comment %} <li>Fecha de Publicacion: {{calzado.fecha_publicacion}}</li> {% endcomment %}
<li>Desripcion: {{calzado.descripcion | safe}} </li>
<li>Imagen: <img src={{request.calzado.imagen.url}} alt="" height='200mp'> </li>
{% endblock contenido %}