{% extends 'base.html' %}
{% block title_head %}
<title>Calzados</title>
{% endblock title_head %}

{% block h1_header %}
<h1>Calzados</h1>
{% endblock h1_header %}

{% block contenido %}
<button>
    <a class="btn btn-primary" href={% url 'inicio:publicar_calzado' %}>Publicar Calzado</a>
</button>
<form action="" method="get">
    {{formulario}}
    <button>Buscar</button>
</form>

<h2>Calzados Publicados</h2>
{% for calzado in calzados %}
<li> 
    Color: {{calzado.color}} - Marca: {{calzado.marca}} - Talle: {{calzado.talle}} - Fecha de publicacion: {{calzado.fecha_publicacion}}
<button> <a class="navbar-brand" href={% url 'inicio:eliminar_calzado' calzado.id %}>Eliminar</a> </button>
<button> <a class="navbar-brand" href={% url 'inicio:modificar_calzado' calzado.id %}>Modificar</a> </button>
<button> <a class="navbar-brand" href={% url 'inicio:mostrar_calzado' calzado.id %}>Ver Mas</a> </button>
</li>
{% endfor %}
{% endblock contenido %}