{% extends 'base.html' %}
{% block title_head %}
<title>Pantalones</title>
{% endblock title_head %}

{% block h1_header %}
<h1>Pantalones</h1>
{% endblock h1_header %}

{% block contenido %}
<button>
    <a class="btn btn-primary" href={% url 'inicio:publicar_pantalon' %}>Publicar Pantalon</a>
</button>
    <form action="" method="get" enctype = 'multipart/form-data'>
        {{formulario}}
        <button>Buscar</button>
</form>

<h2>Pantalones Publicados</h2>
{% if pantalones %}
{% for pantalon in pantalones %}
<li> 
    Color: {{pantalon.color}} - Marca: {{pantalon.marca}} - Talle: {{pantalon.talle}} - Fecha de Publicacion: {{pantalon.fecha_publicacion}}
    <button> <a class="navbar-brand" href={% url 'inicio:eliminar_pantalon' pantalon.id %}>Eliminar</a> </button>
    <button> <a class="navbar-brand" href={% url 'inicio:modificar_pantalon' pantalon.id %}>Modificar</a> </button>
    <button> <a class="navbar-brand" href={% url 'inicio:mostrar_pantalon' pantalon.id %}>Ver Mas</a> </button>
</li>
{% endfor %}
{% else %}
<p>No se encontraron datos cargados.</p>
{% endif %}
{% endblock contenido %}