{% extends 'base.html' %}

{% block title_head %}
<title>Edicion de Perfil </title>
{% endblock title_head %}

{% block h1_header %}
Editar Perfil
{% endblock h1_header %}

{% block contenido %}
<form action={% url 'usuario:editar_perfil' %} method="POST" enctype= 'multipart/form-data'>
{% csrf_token %}
<table>
    {{formulario}}
</table>
<button>Guardar cambios</button>
<button type='button'> <a class="navbar-brand" href={% url 'usuario:modificar_pass' %}>Cambiar Contraseña</a> </button>
</form>

{% endblock contenido %}

